.outsidePart {
    top: 30%;
    position: absolute;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    height: auto;
    width: 750px;
    border-radius: 10px;
    background-color: white;
    font-size: 16px;
}

.plateDropdown {
    margin-top: 30px;
    margin-left: 40px;
}

.articleName {
    color: gray;
    margin-left: 40px;
}

.articleName input {
    color: gray;
    margin-left: 10px;
    margin-top: 30px;
    border:none;
    border-bottom:1px solid rgba(144, 171, 170, 0.81);
    outline: none;
}

.articlePic {
    color: gray;
    margin-top: 40px;
    margin-left: 40px;
}

.checkbox {
    padding-top: 4px;
    margin-left: 20px;
}

.Pic{
    margin: 50px 30px 0px 0px;
}

.Pic img{
    width: 240px !important;
    height: 180px !important;
    margin: -10px 10px 10px 100px;
    display: inline-block !important;
}
.uploadButton{
    display: inline-block;
    vertical-align: -65px;
}

.articleEditor {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    overflow:scroll; /*任何时候都强制显示滚动条*/
    overflow:auto; /*需要的时候会出现滚动条*/
    overflow-x:auto; /*控制X方向的滚动条*/
    overflow-y:auto; /*控制Y方向的滚动条*/
    height: 300px;
    width: 80%;
}

.ql-toolbar {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.userButton {
    margin: 30px auto 30px auto;
    text-align: center;
}

.saveButtonUpdate {
    position: relative;
}

.deleteButtonUpdate {
    position: relative;
    left: 20px;
}

.viewButtonUpdate {
    position: relative;
    right: 20px;
}

.deleteButton {
    display: none !important;
}


/*工具栏内用*/

span[data-value="Arial"]::before {
    content: "Arial" !important;
    font-family: "Arial";
}
span[data-value="宋体"]::before {
    content: "宋体" !important;
    font-family: "宋体";
}
span[data-value="黑体"]::before {
    content: "黑体" !important;
    font-family: "黑体";
}
span[data-value="微软雅黑"]::before {
    content: "微软雅黑" !important;
    font-family: "微软雅黑";
}
/*编辑器内容用*/
.ql-font-Arial {
    font-family: "Arial";
}
.ql-font-宋体 {
    font-family: "宋体";
}
.ql-font-黑体 {
    font-family: "黑体";
}
.ql-font-微软雅黑 {
    font-family: "微软雅黑";
}
