html, body {
    margin: 0;
    width: 100%;
    min-height: 500px;
    font-family: 苹方, 微软雅黑;
}


.container {
    min-width: 300px;
    max-width: 340px;
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
}

.template {
    margin-left: 40px;
}

.templateInput {
    color: gray;
    margin-left: 10px;
    margin-top: 30px;
    border:none;
    border-bottom:1px solid rgba(144, 171, 170, 0.81);
    outline: none;
}

.attachmentContainer {
    display: inline-block;
    width: 60px;
    height: 83px;
    margin-right: 25px;
    margin-bottom: 15px;
}

.attachmentContainer a {
    text-decoration: none;
}

.attachmentContainer:hover .uploader_image img{
    opacity: 0.5;
}

.uploader_photo {
    color: #000000!important;
}

.uploader_photo .uploader_image {
    /*position: relative;*/
}

.uploader_photo .uploader_fileName {
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.hide {
    display: none!important;
}

.ql-editor {
    height: auto !important;
}

.ql-container.ql-snow {
    border: none;
}